.carrusel {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 850px;
  margin: 0 auto;
}
.carrusel-track:hover {
  animation-play-state: paused;
}
.carrusel-track {
  display: flex;
  max-width: max-content;
  animation: carruselImages 15s linear infinite;
}
.carrusel-item {
  flex-shrink: 0;
  height: 450px;
}
.carrusel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

@keyframes carruselImages {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 1000px) {
  .carrusel {
    max-width: 450px;
  }
}
