:root {
  --background-color: #29262e;
  --principal-font-color: #fafbfb;
  --secondary-font-color: #b6b2b2;
  --accent-color-1: rgba(213, 80, 94, 0.35);
  --accent-color-2: #fafbfb;
  --spacing: 20px;
  --shadow: 0 7px 15px rgba(0, 0, 0, 0.35);
}

.hero {
  margin: 75px 0;
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 30px;
  padding: 20px 0 15px 0;
}
.hero-left {
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 20px;
  margin: 0 20px;
  height: 450px;
  background-color: rgba(9, 9, 9, 0.3);
}
.hero-left h2 {
  color: var(--principal-font-color);
}
.hero-left p {
  color: var(--secondary-font-color);
}
.hero-actions {
  display: flex;
  gap: var(--spacing);
  flex-direction: column;
  max-width: 175px;
  margin: var(--spacing) 0;
}
.hero-right {
  margin: 0 100px;
}
.hero-right p {
  color: var(--accent-color-2);
}
.hero-right h3 {
  color: black;
  margin: 0 0 0 13px;
}
.btn-primary,
.btn-ghost {
  border-radius: 999px;
  padding: 8px 10px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-ghost:hover {
  border-color: var(--accent-color-2) 1px;
  color: var(--principal-font-color);
  background-color: var(--accent-color-1);
}

@media (max-width: 1000px) {
  .hero {
    max-width: 100%;
    grid-template-columns: 1.3fr 0.7fr;
  }
  .hero-left {
    width: 100%;
    margin: 0 var(--spacing);
  }
  .hero-right {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 700px) {
  .hero {
    grid-template-columns: 1fr;
    display: grid;
    margin: 0 20px;
    width: auto;
    max-width: none;
  }
  .hero-left {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    width: 100%;
  }
  .hero-right {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-right h3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}
