:root {
  --background-color: #29262e;
  --principal-font-color: #fafbfb;
  --secondary-font-color: #b6b2b2;
  --accent-color-1: rgba(213, 80, 94, 0.35);
  --accent-color-2: #fafbfb;
  --spacing: 20px;
  --shadow: 0 7px 15px rgba(0, 0, 0, 0.35);
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 30px;
  padding: 20px 0 15px 0;
}
.hero-left {
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 20px;
  margin: 0 20px;
  height: 450px;
  background-color: var(--background-color);
}
.hero-left h2 {
  color: var(--principal-font-color);
}
.hero-left p {
  color: var(--secondary-font-color);
}
.hero-actions {
  display: flex;
  gap: var(--spacing);
  flex-direction: column;
  max-width: 175px;
  margin: var(--spacing) 0;
}
