.hero {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 30px;
  padding: 20px 0 15px 0;
}
.hero-left {
  border-radius: 15px;

  padding: 20px;
  margin: 0 20px;
}
