:root {
  --background-color: #29262e;
  --background-topbar: rgba(41, 38, 46, 0.4);
  --principal-font-color: #fafbfb;
  --secondary-font-color: #b6b2b2;
  --accent-color-1: rgba(213, 80, 94, 0.35);
  --accent-color-2: #fafbfb;
  --spacing: 20px;
  --shadow: 0 7px 15px rgba(0, 0, 0, 0.35);
}

.topbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 20;
  backdrop-filter: blur(10px);
  background: var(--background-topbar);
  border-bottom: var(--accent-color-2) 1px solid;
  padding: var(--spacing);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--principal-font-color);
}

.brand {
  display: flex;
  gap: 17px;
}

.logo {
  display: grid;
  place-items: center;
  width: 50px;
  height: 75px;
  border-radius: 14px;
  background: var(--accent-color-1);
  border: 0.25px solid var(--accent-color-2);
  box-shadow: var(--shadow);
}
.brand-text h1 {
  margin: 0;
  font-weight: 500;
}
.brand-text p {
  margin: 0;
  font-weight: 350;
  letter-spacing: 0.5px;
  color: var(--secondary-font-color);
}

.nav {
  display: flex;
  gap: 10px;
  font-size: 17px;
  color: var(--secondary-font-color);
}
.nav a {
  border-radius: 999px;
  padding: 8px 10px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav a:hover {
  border-color: var(--accent-color-2) 1px;
  color: var(--principal-font-color);
  background-color: var(--accent-color-1);
}

@keyframes brigth {
  0% {
    box-shadow: 0 0 0 rgba(255, 27, 19, 0.46);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 27, 19, 0.46);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 27, 19, 0.46);
  }
}

@media (max-width: 1000px) {
  .topbar {
    padding: 10px;
  }
}
